spring:
  application:
    name: reservas-equipamentos

  datasource:
    url: jdbc:h2:mem:reservasdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 1234

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    servlet:
      content-type: text/html
    cache: false

  flyway:
    locations: classpath:db/migration

  security:
    user:
      name: admin
      password: admin
      roles: ADMIN

server:
  port: 8080

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

jwt:
  secret: "minhaChaveSuperSecretaDeAssinaturaJWT123"
  expiration: 86400000
